<footer class="py-8 py-md-11 {{classList}}">
  <div class="container">
    <div class="row justify-content-center">
      <div
        class="col-6 col-md-4 col-lg-2 mb-4 mb-lg-0 d-flex justify-content-center mx-3 text-center"
      >
        <!-- Heading -->
        <h5 class="fw-bold text-uppercase text-gray-700 mb-2 no-wrap">
          <a href="contact.html" class="text-white">Contact Us</a>
        </h5>
      </div>

      <div
        class="col-6 col-md-4 col-lg-2 mb-4 mb-lg-0 d-flex justify-content-center mx-3 text-center"
      >
        <!-- Heading -->
        <h5 class="fw-bold text-uppercase text-gray-700 mb-2 no-wrap">
          <a href="#!" class="text-white">Terms of Service</a>
        </h5>
      </div>

      <div
        class="col-6 col-md-4 col-lg-2 mb-4 mb-lg-0 d-flex justify-content-center mx-3 text-center"
      >
        <!-- Heading -->
        <h5 class="fw-bold text-uppercase text-gray-700 mb-2 no-wrap">
          <a href="#!" class="text-white">Privacy</a>
        </h5>
      </div>

      <div
        class="col-6 col-md-4 col-lg-2 d-flex justify-content-center mx-3 text-center"
      >
        <!-- Heading -->
        <h5 class="fw-bold text-uppercase text-gray-700 mb-2 no-wrap">
          <a
            href="https://standardizedcontracts.com/Identity/Account/Register"
            class="text-white">My Account</a
          >
        </h5>
      </div>
    </div>
    <!-- / .row -->
  </div>
  <!-- / .container -->
</footer>
